<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"></h1>
        <p class="lead"></p>
        <div class="container">

            <h1 class="display-2"> Artesanos del Futbol</h1>
            <p class="label-primary">breve repaso por los diferentes equipos y jugadores historicos, los cuales fueron y son referentes.</p>
            <div class="container">
            </div>
        </div>
    </div>


    <img width="100%" height="auto" src="../../assets/img/LA-PELOTA-principal.jpg" alt="Responsive image" />